<% let userName="" %> 
<% const nav = [ { text: " Technology Training",path:'/tech'}, {
text: " Web & App Development",path:"/web_app" }, { text: "Internship Training",path:"/intern" }, { text:
"Recruitment Services", path:"/rec_ser"}, { text: "Corporate Traning",path:"cor_tr"},
]; %>

<div class="navbar_container">
  <div class="inner_navbar_container">
    <a href="" class="navbar_logo">
      <img src="../../images/logo.jpg" class="logo_img" alt="" />
    </a>
    <div class="nav_link_section">
      <ul class="nav_link">
        <li class="list_item">
          <span class="nav_svg">
            <svg
              width="18"
              height="18"
              viewBox="0 0 33 33"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.95312 12.3535L16.9531 4.35352L31.9531 12.3535L16.9531 20.3535L1.95312 12.3535Z"
                stroke="#363636"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M24.4531 30.3535V16.3535L16.9531 12.3535"
                stroke="#363636"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M28.4531 14.2158V21.0408C28.4522 21.2532 28.382 21.4595 28.2531 21.6283C27.4156 22.7533 23.8656 26.8533 16.9531 26.8533C10.0406 26.8533 6.49062 22.7533 5.65312 21.6283C5.52425 21.4595 5.45402 21.2532 5.45312 21.0408V14.2158"
                stroke="#363636"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <a class="nav_anch" href="">All Courses</a>
        </li>
        <li class="list_item ourservices">
         
          <% if(userName!=""){%>
 <p class="new">
            NEW
          </p>
            <% }
    
         %>
          <span class="nav_svg">
         

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="18" height="18" viewBox="0 0 512.000000 512.000000"
            preserveAspectRatio="xMidYMid meet">
           
           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
           fill="#363636" stroke="none">
           <path d="M2592 5105 c-225 -51 -420 -248 -467 -471 -36 -170 -3 -325 100 -468
           l54 -75 -47 -29 c-152 -95 -290 -261 -357 -433 -43 -107 -57 -186 -62 -349 -5
           -145 -4 -158 16 -198 14 -28 34 -48 61 -62 38 -20 57 -20 825 -20 752 0 787 1
           823 19 23 12 47 36 61 61 23 42 24 47 18 204 -7 186 -26 272 -87 403 -69 147
           -185 283 -317 370 -29 20 -53 37 -53 39 0 2 16 25 37 51 291 380 27 948 -451
           969 -57 2 -114 -2 -154 -11z m225 -306 c123 -47 197 -155 197 -289 1 -91 -23
           -149 -84 -210 -61 -61 -119 -85 -210 -84 -123 0 -223 61 -279 170 -96 186 60
           430 276 433 23 1 68 -9 100 -20z m27 -904 c173 -37 326 -156 405 -316 39 -79
           70 -191 71 -251 l0 -28 -605 0 -605 0 0 28 c1 57 31 168 67 241 52 106 168
           222 275 274 129 64 257 81 392 52z"/>
           <path d="M1655 2749 c-148 -22 -338 -98 -453 -183 -53 -39 -244 -203 -344
           -295 l-28 -25 -67 25 c-53 18 -87 24 -153 23 -103 -1 -166 -24 -405 -147 -142
           -73 -162 -87 -182 -122 -13 -22 -23 -57 -23 -77 0 -30 98 -234 468 -970 l467
           -933 45 -22 c24 -13 59 -23 76 -23 21 0 104 36 233 100 159 80 213 113 261
           157 74 69 126 168 142 271 l12 72 910 0 c750 0 928 3 1009 15 227 34 427 135
           588 296 84 83 812 1052 856 1139 131 255 -3 553 -285 631 -84 24 -140 24 -229
           1 -126 -34 -135 -42 -609 -551 l-42 -45 -27 57 c-60 122 -183 219 -313 246
           -34 7 -207 11 -483 11 -304 0 -437 3 -452 11 -12 7 -67 46 -122 88 -168 129
           -246 171 -397 217 -140 42 -307 54 -453 33z m350 -314 c92 -25 191 -78 285
           -150 124 -96 180 -133 241 -158 52 -21 68 -22 519 -27 521 -6 506 -3 548 -78
           28 -50 28 -94 0 -144 -42 -74 -31 -72 -515 -78 -416 -5 -433 -6 -459 -26 -50
           -37 -66 -68 -66 -124 0 -56 16 -87 66 -124 27 -21 38 -21 534 -21 l507 0 63
           27 c35 14 79 37 98 50 20 12 196 194 391 403 195 209 368 388 386 398 43 23
           94 21 141 -6 67 -38 92 -110 62 -181 -8 -18 -182 -258 -388 -532 -421 -561
           -461 -605 -612 -679 -173 -85 -86 -79 -1211 -83 l-1000 -2 -282 563 -281 563
           156 137 c226 198 305 245 472 282 81 18 260 13 345 -10z m-1325 -457 l45 -23
           332 -660 c183 -363 335 -675 339 -692 4 -24 0 -45 -17 -80 -22 -45 -32 -52
           -141 -108 -64 -33 -119 -57 -121 -55 -9 9 -757 1510 -757 1518 0 12 230 122
           255 122 11 0 41 -10 65 -22z"/>
           </g>
           </svg>
           
           

          </span>


          <span class="nav_anch" href="">Our Services</span>
        
       
          <div class="dropdown">
            <ul>
                
              <% for(let i=0;i<nav.length;i++){%>
              <li class="dropdown-link">
                <a class="dropdown_btn" href='<%-nav[i].path%>'><%-nav[i].text%></a>
              </li>
              <%} %>
            </ul>

          </div>
        </li>

        <li class="list_item">
          <span class="nav_svg">
            <svg
              width="18"
              height="18"
              viewBox="0 0 32 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M27 9H5C4.44772 9 4 9.44772 4 10V26C4 26.5523 4.44772 27 5 27H27C27.5523 27 28 26.5523 28 26V10C28 9.44772 27.5523 9 27 9Z"
                stroke="#363636"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M21 9V7C21 6.46957 20.7893 5.96086 20.4142 5.58579C20.0391 5.21071 19.5304 5 19 5H13C12.4696 5 11.9609 5.21071 11.5858 5.58579C11.2107 5.96086 11 6.46957 11 7V9"
                stroke="#363636"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M28 15.7876C24.3529 17.8969 20.2132 19.0051 16 19.0001C11.7861 19.0111 7.64484 17.9024 4 15.7876"
                stroke="#363636"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M14.5 15H17.5"
                stroke="#363636"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
          <a class="nav_anch" href="">Job Opening</a>
        </li>
        <li class="list_item">
          <span class="nav_svg">
      

            <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
            width="18" height="18" viewBox="0 0 512.000000 512.000000"
            preserveAspectRatio="xMidYMid meet">
           
           <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
           fill="#363636" stroke="none">
           <path d="M4285 5106 c-16 -8 -293 -278 -615 -600 l-585 -586 -1332 0 c-955 0
           -1347 -3 -1385 -11 -172 -37 -311 -176 -347 -347 -16 -75 -16 -2210 0 -2284
           19 -86 59 -158 124 -223 98 -99 198 -135 375 -135 l100 0 0 -400 c0 -382 1
           -403 20 -440 36 -70 128 -99 196 -62 18 9 227 216 464 460 l433 442 893 0
           c619 0 909 3 946 11 170 36 311 178 347 347 8 36 11 325 11 925 l0 872 595
           595 595 595 0 70 0 69 -342 344 c-191 192 -357 350 -375 358 -40 17 -79 17
           -118 0z m378 -878 l-108 -108 -212 212 -213 213 107 107 108 108 212 -212 213
           -213 -107 -107z m-528 -108 l210 -210 -638 -638 -637 -637 -212 213 -213 212
           635 635 c349 349 637 635 640 635 3 0 100 -95 215 -210z m-1592 -742 l-241
           -243 -210 -505 -210 -505 -428 -5 c-482 -6 -476 -5 -514 -80 -38 -75 -14 -157
           58 -198 40 -22 41 -22 526 -22 l485 0 568 236 568 235 243 242 242 242 0 -718
           c0 -700 -1 -719 -20 -757 -13 -26 -34 -47 -60 -60 -38 -20 -57 -20 -975 -20
           -911 0 -937 -1 -973 -20 -20 -10 -181 -168 -357 -349 l-320 -329 -5 297 c-6
           334 -8 344 -80 381 -35 18 -59 20 -226 20 -174 0 -189 1 -226 22 -24 14 -48
           38 -59 60 -18 36 -19 76 -19 1120 1 1217 -5 1125 76 1174 l39 24 1180 0 1180
           0 -242 -242z m107 -743 c85 -85 152 -156 150 -159 -4 -f4 -459 -195 -518 -217
           -22 -8 -22 -8 -9 24 131 317 212 507 217 507 3 0 75 -70 160 -155z"/>
           </g>
           </svg>

          </span>
          <a class="nav_anch" href="">Blogs</a>
        </li>
      </ul>
    </div>
    <div class="navbar_button_section">
      
      <div class="contact_number">
        <a href="#" class="phone_no">+91 7876043366</a>
        <a href="#" class="phone_no">+91 7876043366</a>
      </div>
      <div class="button_sec">
        <% if(userName!=""){%>
        <div class="userName">
          <span class="short_name"><%- userName.charAt(0)%></span>
          <span class="full_name"><%- userName%></span>
        </div>
        <% } else{%>
        <button class="btn_login">Login</button>

        <% } %>
      </div>
    </div>
  </div>
</div>
